<html>
    <body>
        <div>
            <h1>
                PEDIDO 
            </h1>
        </div>
        <div class="datosProveedor">
            <div style="background-color:black;color: white;">
                <p>Datos de Proveedor</p>
            </div>
            <div style="border-style:solid ;">
                <div style="padding:25x ;margin-top: 5px;">
                    <label>Nombre Proveedor  :  </label>1
                </div>
                <div style="padding:25x ;margin-top: 5px;">
                    <label>Telefono Proveedor  :  </label>1
                </div >
                <div style="padding:25x ;margin-top: 5px;">
                    <label>Email Proveedor  :  </label>1
                </div>
                <div style="padding:25x ;margin-top: 5px;margin-bottom: 5px;">
                    <label>Persona de Contacto   :  </label>1
                </div>
               
            </div>
        </div>
        <div class="datosProveedor">
            <div style="background-color:black;color: white;">
                <p>Datos de Proveedor</p>
            </div>
            <div style="border-style:solid ;">
                <div style="padding:25x ;margin-top: 5px;">
                    <label>Nombre Proveedor  :  </label>1
                </div>
                <div style="padding:25x ;margin-top: 5px;">
                    <label>Telefono Proveedor  :  </label>1
                </div >
                <div style="padding:25x ;margin-top: 5px;">
                    <label>Email Proveedor  :  </label>1
                </div>
                <div style="padding:25x ;margin-top: 5px;margin-bottom: 5px;">
                    <label>Persona de Contacto   :  </label>1
                </div>
               
            </div>
        </div>
    </body>
</html>