html, body{
    margin:0px;
    height:100%;
}


.navbar{
    background-color: #DAF7A6;
}
.navbar a{
    color: black;
}

.inicioSesion{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0px;  
        height:100%;
        
}