body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.navbar a{
    color: black;
}

.inicioSesion{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0px;  
        height:100%;
        
}

.dropdown{
    float: right;
    position: relative;
}

.footer{
    margin-top: auto;
}
