{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}Bodegas{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/menuP.css' %}" type="text/css">
{% endblock %}
{% block content %}

{% if tipo_usuario == '1'%}
<div class="menuProveedor ">
    <div class="btnP  agregarProveedor text-center">
        <a class="btn text-white btn-lg" style="background-color: #6F2DBD;" href="{% url 'bodegaNew'%}">Agregar nueva Bodega</a>
    </div>
</div>
{% endif %}
<div class="container justify-content-center">
    <div class="row text-white rounded p-1 mb-1" style="text-align: center; background-color: #A663CC;">
        <h1>Listado de Bodegas</h1>
    </div>
    <div class="row"  >
        {% if 'ok' in request.GET %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>OK!! </strong>Bodega actualizado satisfactoriamente
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'fail' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ups!!! </strong>En estos momentos no podemos atender a tu solicitud... inténtalo más tarde
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'errorPK' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ups!!! </strong>No se ha podido eliminar porque esta Bodega porque presenta productos 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="container justify-content-center">
            <div class="row">
                <table id="tabla_productos" class="table table-striped table-hover" style="background-color:#B9FAF8;">
                     
                    <table id="tabla_productos" class="table table-striped table-hover" >
                        <thead >
                            <tr class="table-responsive text-white" style="background-color: #B298DC;">
                                <th>ID</th>
                                <th>Sucursal de la Bodega</th>
                                <th>Capacidad Maxima</th>
                                {% if tipo_usuario == '1'%}
                                <th>Opciones</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for bodega in bodega %}
                                <tr class="table-responsive" style="background-color: #B9FAF8;">
                                    <td>{{bodega.idbodega}}</td>
                                    <td>{{bodega.idalmacen}}</td>
                                    <td>{{bodega.capacidadmaxima}}</td>
                                    {% if tipo_usuario == '1'%}
                                    <td>
                                        <a class="btn text-white" style="background-color: #6F2DBD;" href="{% url 'bodegaUpdate' bodega.idbodega %}">Modificar</a>
                                        <a class="btn btn-danger"  href="{% url 'bodegaDelete' bodega.idbodega %}">Eliminar</a>
                                    </td>
                                    {% endif %}
        
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-center text-dark mt-4 mb-4">
                {% if bodega.has_other_pages %}
                    <nav aria-label="Paginación Proyectos">
                        <ul class="pagination">
                            {% if bodega.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ bodega.previous_page_number}}">&laquo;</a></li>
                            {% else %}
                                <li class="page-item disable"><span class="page-link">&laquo;</span></li>
                            {% endif %}
        
                            {% for i in bodega.paginator.page_range %}
                                {% if bodega.number == i %}
                                    <li class="page-item active"><span class="page-link">{{i}}<span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></span></li>
                                {% endif %}
                            {% endfor %}
        
                            {% if bodega.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ bodega.next_page_number}}">&raquo;</a></li>
                            {% else %}
                                <li class="page-item disable"><span class="page-link">&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}