{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}EDITAR PRODUCTOS{% endblock %}
{% block content %}
<div class="container">
    <div class="row text-white rounded p-1 mt-5 mb-1" style="background-color: #A663CC; text-align:center;">
        <h1>Editar informacionBodega de Almacenaje</h1>
    </div>
    <div class="row" style="background-color: #B9FAF8;">
        {% if 'ok' in request.GET %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Oh yeah!!! </strong>Producto registrado satisfactoriamente
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if 'fail' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Ups!!! </strong>En estos momentos no podemos atender a tu solicitud... inténtalo más tarde
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <!-- Formulario de contacto -->                            
        <form action="" method="POST" id="formulario" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label class="fw-bold">Almacen:</label>
                <div class="input-group">
                    {{form.idalmacen}}
                </div>                
                {{form.idalmacen.errors}}
            </div>
            <div class="form-group mb-3">
                <label class="fw-bold">Capacidad Maxima: *</label>
                <div class="input-group">
                    {{form.capacidadmaxima}}
                </div>                
                {{form.capacidadmaxima.errors}}
            </div>
            <div class="text-center mt-4">
                <input type="submit" class="btn text-white btn-block py-2" style="background-color: #6F2DBD;" id="enviar" value="Enviar">
                <input type="reset" class="btn btn-danger btn-block py-2" id="limpiar" value="Limpiar">
            </div>
            <div class="mt-5"></div>
        </form>
    </div>
    <div class="mt-5"></div>
</div>
{% endblock %}
