{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}Bodegas{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/menuP.css' %}" type="text/css">
{% endblock %}
{% block content %}

<div class="menuProveedor">
    <div class="btnP  agregarProveedor text-center">
        <a class="btn btn-primary btn-lg" href="{% url 'bodegaNew'%}">Agregar Nuevo Bodega para almacenar</a>
    </div>
</div>
<div class="container justify-content-center">
    <div class="row bg-dark text-white rounded p-5 mt-4 mb-4">
        <h1>Listado de Proveedor</h1>
    </div>
    <div class="row">
        {% if 'ok' in request.GET %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Oh yeah!!! </strong>Producto actualizado satisfactoriamente
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'fail' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ups!!! </strong>En estos momentos no podemos atender a tu solicitud... inténtalo más tarde
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'errorPK' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ups!!! </strong>No se ha podido eliminar porque esta Bodega porque presenta productos 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="table-responsive">
            <table id="tabla_productos" class="table table-striped table-hover" >
                <thead >
                    <tr class="table-dark">
                        <th>ID</th>
                        <th>Almacen</th>
                        <th>Capacidad Maxima</th>
                        <th>Opciones</th>

                    </tr>
                </thead>
                <tbody>
                    {% for bodega in bodega %}
                        <tr>
                            <td>{{bodega.idbodega}}</td>
                            <td>{{bodega.idalmacen}}</td>
                            <td>{{bodega.capacidadmaxima}}</td>
                           
                            <td>
                                <a class="btn btn-primary" href="{% url 'bodegaUpdate' bodega.idbodega %}">Modificar</a>
                                <a class="btn btn-warning"  href="{% url 'bodegaDelete' bodega.idbodega %}">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}