{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}Bodegas{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/menuP.css' %}" type="text/css">
{% endblock %}
{% block content %}

<div class="menuProveedor">
    <div class="btnP  agregarProveedor text-center">
        <a class="btn btn-primary btn-lg" href="{% url 'empresaNew'%}">Agregar Nueva Empresa de Distribucion</a>
    </div>
</div>
<div class="container justify-content-center">
    <div class="row bg-dark text-white rounded p-5 mt-4 mb-4">
        <h1>Listado de Bodegas</h1>
    </div>
    <div class="row">
        {% if 'ok' in request.GET %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Oh yeah!!! </strong>Producto actualizado satisfactoriamente
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'fail' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ups!!! </strong>En estos momentos no podemos atender a tu solicitud... inténtalo más tarde
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'errorPK' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ups!!! </strong>No se ha podido eliminar porque esta Bodega porque presenta productos 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="table-responsive">
                    <table id="tabla_productos" class="table table-striped table-hover" >
                        <thead >
                            <tr class="table-dark">
                                <th>Rut Empresa</th>
                                <th>Nombre</th>
                                <th>Comuna</th>                        
                                <th>Direccion</th>
                                <th>Opciones</th>
        
                            </tr>
                        </thead>
                        <tbody>
                            {% for empresa in empresa %}
                                <tr>
                                    <td>{{empresa.rutempresa}}</td>
                                    <td>{{empresa.nmbempresa}}</td>
                                    <td>{{empresa.idcomuna}}</td>
                                    <td>{{empresa.direccion}}</td>
        
                                    <td>
                                        <a class="btn btn-primary" href="{% url 'empresaUpdate' empresa.rutempresa %}">Modificar</a>
                                        <a class="btn btn-warning"  href="{% url 'empresaDelete' empresa.rutempresa %}">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-center text-dark mt-4 mb-4">
                {% if empresa.has_other_pages %}
                    <nav aria-label="Paginación Proyectos">
                        <ul class="pagination">
                            {% if empresa.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ empresa.previous_page_number}}">&laquo;</a></li>
                            {% else %}
                                <li class="page-item disable"><span class="page-link">&laquo;</span></li>
                            {% endif %}
        
                            {% for i in empresa.paginator.page_range %}
                                {% if empresa.number == i %}
                                    <li class="page-item active"><span class="page-link">{{i}}<span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></span></li>
                                {% endif %}
                            {% endfor %}
        
                            {% if empresa.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ empresa.next_page_number}}">&raquo;</a></li>
                            {% else %}
                                <li class="page-item disable"><span class="page-link">&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}