{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}INICIO{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/menuP.css' %}" type="text/css">
{% endblock %}
{% block content %}

<div class="menuProveedor">
    <div class="btnP  agregarProveedor">
        <button type="button" class="btn btn-primary btn-lg">Agregar Nuevo Proveedor</button>
    </div>
    <div class="btnP eliminarProveedor">
        <button type="button" class="btn btn-secondary btn-lg">Eliminar Proveedor </button>
    </div>
    <div class="btnP editarProveedor">
        <button type="button" class="btn btn-primary btn-lg">Editar Proveedor </button>
    </div>
</div>

{% endblock %}