{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}Bodegas{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<div class="container">

    <div class="row mt-5">
        <div class="row bg-dark text-white rounded p-1 mt-1 mb-1">
            <h3>BODEGA CAPACIDAD:</h3>
        </div>
    </div>
    <div class="row mt-5">
        <div class="row bg-dark text-white rounded p-1 mt-1 mb-1">
            <h3>ESTADO DE LOS PRODUCTOS</h3>
        </div>
    </div>


</div>
{% endblock %}