{% extends 'core/plantilla.html' %}
{% load static %}

{% block title %}Recepcion de pedido{% endblock %}

{% block content %}

<div class="container">
    <div class="row bg-dark text-white rounded p-5 mt-4 mb-4">
        <h1>Recepción de pedido</h1>  
    </div>
    <!-- realizar alertas -->

    <!-- ingreso -->
    <div class="form-group mb-3">
        <label class="fw-bold">N° de pedido: </label>
            <div class="input-group">
                {{form.idpedido}}
            </div>
        {{form.idpedido.errors}}
    </div>
    <div class="form-group mb-3">
        <label class="fw-bold">Elegir producto: </label>
        <!-- como llamar a los productos de un pedido -->
            <div class="input-group">
                {{form.}}
            </div>
        {{form..errors}}
    </div>
    <div class="form-group mb-3">
        <label class="fw-bold">Cantidad recibida: </label>
        <!-- como ingresar una cantidad desde un input -->
            <div class="input-group">
                {{form.}}
            </div>
        {{form.idpedido.errors}}
    </div>
    <div class="form-group mb-3">
        <input type="submit" class="btn btn-primary btn-block py-2" id="actualizar" value="Actualizar">
    </div>
    <!-- tabla -->
    <div class="table-responsive">
        <table id="tablaRecibo" class="table table-striped table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Producto</th>
                    <th>Cant. pedida</th>
                    <th>Cant. recibida</th>
                    <th>Valor compra</th>
                    <th>Valor venta</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- de que tabla sacar lo de aca? -->
                {% for pedido in pedido %}
                    <tr>
                        <td></td>
                        <td>{{producto.codigo}}</td>
                        <td></td>
                        <td>{{producto.preciocompra}}</td>

                        <td>
                            <button class="btn btn-primary btn-block py-2" id="recibido" name="recibido">Pedido recibido</button>
                            <button class="btn btn-primary btn-block py-2" id="noRecibido" name="noRecibido">Pedido no recibido</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>