{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}EDITAR PRODUCTOS{% endblock %}
{% block content %}
{% if tipo_usuario == '1'%} 
<div class="container">
    <div class="row bg-dark text-white rounded p-5 mt-4 mb-4">
        <h1>Editar informacion productos</h1>
    </div>
    <div class="row">
        {% if 'ok' in request.GET %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Oh yeah!!! </strong>Producto registrado satisfactoriamente
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if 'fail' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Ups!!! </strong>En estos momentos no podemos atender a tu solicitud... inténtalo más tarde
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <!-- Formulario de contacto -->                            
        <form action="" method="POST" id="formulario" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label class="fw-bold">Marca: *</label>
                <div class="input-group">
                    {{form.marca}}
                </div>                
                {{form.marca.errors}}
            </div>
            <div class="form-group mb-3">
                <label class="fw-bold">Stock Minimo: *</label>
                <div class="input-group">
                    {{form.stockminimo}}
                </div>                
                {{form.stocminimo.errors}}
            </div>
            <div class="form-group mb-3">
                <label class="fw-bold">Stock Maximo: *</label>
                <div class="input-group">
                    {{form.stockmaximo}}
                </div>                
                {{form.stockmaximo.errors}}
            </div>
            <div class="form-group mb-3">
                <label class="fw-bold">Precio Compra: </label>
                <div class="input-group">
                    {{form.preciocompra}}
                </div>                
                {{form.preciocompra.errors}}
            </div>
            <div class="form-group mb-3">
                <label class="fw-bold">Precio Venta: </label>
                <div class="input-group">
                    {{form.precioventa}}
                </div>                
                {{form.precioventa.errors}}
            </div>
            <div class="form-group mb-3">
                <label class="fw-bold">Tipo Producto *</label>
                <div class="input-group">
                    {{form.idtipoproducto}}
                </div>                
                {{form.idtipoproducto.errors}}
            </div>
            <div class="form-group mb-3">
                <label class="fw-bold">Proveedor *</label>
                <div class="input-group">
                    {{form.idproveedor}}
                </div>                
                {{form.idproveedor.errors}}
            </div>
            <div class="text-center mt-4">
                <input type="submit" class="btn btn-primary btn-block py-2" id="enviar" value="Enviar">
                <input type="reset" class="btn btn-danger btn-block py-2" id="limpiar" value="Limpiar">
            </div>
        </form>
    </div>
</div>
{%endif%}
{% endblock %}